/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body{
	margin:0;
	width:100%;
	font-family:arial;
}

.container{
	width:1000px;
	max-width: 100%;
	margin:0 auto;
}