h1{
	text-align: center;
	font-size:30px;
}

header input{
	width:100%;
	height:40px;
	text-indent: 10px;
	font-size:30px;
	padding:10px 0;
}

.todosBody ul{
	list-style: none;
	width:60%;
	margin-top:30px;
}

.todosBody ul li{
	margin-bottom:5px;
}

.todosBody ul li input.toggle{
	width:6%;
	margin-top:5px;
	float:left;
	clear: both;
	overflow: hidden;
}

.todosList{
	margin:20px auto 0 auto;
	width:50%;
}

.todosList input{
	width:84%;
	height:30px;
	font-size:20px;
	text-indent: 10px;
	margin-right:5px;
}

.todosList section{
	margin-bottom: 15px;
}

.todosBody ul li.completed input{
	color: #d9d9d9 !important;
    text-decoration: line-through !important;
}

.todosBody ul{
	border:5px inset #1ABC9C;
	padding:10px;
}

md-checkbox.md-checked[disabled].red .md-icon {
  background-color: rgba(255, 0, 0, 0.26);
}


footer{
	margin:10px auto;
	text-align: center;
	font-size:30px;
	font-style: italic;
}