<h1>Todo List</h1>
<div class ="todosContainer">
		<md-input class ="newTodo" placeholder="What need to be done?" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()" autofocus></md-input>
		<section class ="todosBody">
			<div class ="todosList" layout="column" layout-xs="column" color="primary">
				<md-card >
					<section *ngFor="let todo of todos" class="todo">
						<md-checkbox></md-checkbox>
						<input type="text" class="todoEditable" (keyup.enter)="updateTodo(todo, $event)" value="{{todo.title}}">
						<button md-mini-fab  (click) ="removeTodo(todo)"> X </button>
					</section>
				</md-card>
			</div>
		</section>	
</div>